<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Port Tcp pour accéder aux annuaires LDAP (Active Directory) -->
    <add key="LdapTcpPort" value="389" />
    <add key="AuthenticationTypes" value="Secure" />
    <!--<add key="pathNAS" value="C:\DEV\NAS\"/>-->
    <add key="pathNAS_IN" value="\\fr1emc01-hpr-znci-01.adbdfint.private\UA2121_TECH2$\" />
    <add key="pathNAS_PR" value="\\fr1emc01-prd-znci-01.adbdf.private\UA2121_TECH2$\" />
    <!--<add key="stockObj_ServiceURL" value="https://s3-zaci-zs-api.in01.stocobj.app.private"/>-->
    <add key="stockObj_ServiceURL_IN" value="https://s3-zace-api.in01.stocobj.app.private" />
    <add key="stockObj_ServiceURL_PR" value="https://s3-zace-api.pr01.stocobj.app.private" />
    <add key="stockObj_RegionEndpoint_IN" value="bdf" />
    <add key="stockObj_RegionEndpoint_PR" value="bdf" />
    <add key="stockObj_BucketName_IN" value="stocobj-1-imel-pst-int-1-bucket-pst" />
    <!--<add key="stockObj_BucketName_IN" value="stocobj-1-imel-pst-int-1ui4aps3-imel-read"/>-->
    <add key="stockObj_BucketName_PR" value="stocobj-1-imel-0-prod-1-bucket-pst" />
    <!--Chemin des PST -->
    <add key="cheminRacinePST" value="C:\Users\{0}\Documents confidentiels (local)\" />
    <!--partage temporaire pour l'extraction du fichier 7z-->
    <add key="tmp7z" value="C:\Users\{0}\Documents confidentiels (local)\Temp7z" />

    <add key="Accueil" value="" />
    <add key="Modop" value="https://ecole-du-digital/ResourcesDocs/Fiche pratique - Exchange Online.pdf" />

    <!-- Délai alloué, en millisecondes, pour tester la connectivité à un réseau  -->
    <add key="NetWorkDiscoveryTime" value="5000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>